<section class="panel panel-default">
    <div class="panel-heading">
        <h4 class="text-center">Create a new Car</h4>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <input type="text" name="driver_name" placeholder="Driver name" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" name="license_plate" placeholder="License Plate" class="form-control">
        </div>
        <div class="form-group">
            <select name="status" id="" class="form-control">
                <option value="-1" selected="selected">Select a status</option>
                <option value="IN">Inside</option>
                <option value="OUT">Outside</option>
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Edit" class="btn btn-success">
        </div>
    </div>
</section>